/* ========================= FONTS & ROOT VARIABLES ========================= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-bg: #4B0082;
    --secondary-bg: #8A2BE2;
    --text-color: #fff;
    --card-bg: rgba(0, 0, 0, 0.3);
    --border-radius: 10px;
    --player-card-bg: rgba(255, 255, 255, 0.1);
}

/* ========================= BASE STYLES ========================= */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* ========================= SIDEBAR ========================= */
.sidebar {
    background-color: #1a0033;
    padding: 20px;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    font-family: teko, sans-serif;
    line-height: 30px;
}

.sidebar h1 {
    font-size: 42px;
    color: white;
}

.sidebar nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar nav a:hover {
    background-color: #9333ea;
}

.sidebar nav a.active {
    background-color: #9333ea;
}