:root {
    --primary-bg: #4B0082;
    --secondary-bg: #8A2BE2;
    --text-color: #fff;
    --card-bg: rgba(0, 0, 0, 0.3);
    --border-radius: 10px;
    --player-card-bg: rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav{
    background-color: var(--primary-bg);
    color: var(--text-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-family: teko, sans-serif;
    line-height: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar nav a:hover {
    background-color: #9333ea;
}

.sidebar nav a.active {
    background-color: #9333ea;
}